name: crm
description: "A new Flutter project."
publish_to: 'none'
version: 0.1.0

environment:
  sdk: ^3.10.4

dependencies:
  flutter:
    sdk: flutter
  image_picker: ^1.1.2
  pdf: ^3.11.3
  printing: ^5.14.2
  sqflite: ^2.3.3
  intl: ^0.20.2
  path_provider: ^2.1.5
  flutter_email_sender: ^8.0.0
  cupertino_icons: ^1.0.8
  uuid: ^4.5.2


dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^6.0.0

flutter:
  uses-material-design: true
